$colorWhite: #fff;
$brandSkyBlue: #138fd2;
$brandBlue: #005075;
$brandGrey: #aeb3c0;
$brandDarkGrey: #515151;
$brandPink: #fd687d;
$brandYellow: #fbab18;
$brandGreen: #6ebf49;
$brandMove: #403152;

$containerWidth: 940px;
