.discoverWrapper {
  display: flex;
  flex: 1;
  flex-direction: column;
  margin: 0px auto;
  max-width: 1260px;
}

@media (max-width: 1260px) {
  .discoverWrapper {
    padding: 0px 15px;
  }
}

.inspireHeader {
  width: 100%;
  background-color: #f8f8f8;
  text-align: center;

  h1 {
    color: #005075;
    text-align: center;
    font: bolder;
    font-size: 48px;
  }
  p {
    font-size: 22px;
    text-align: center;
  }
}
