
.layout{
  // position:relative;
  min-height: 100%;
  height: 100%;

 .header{
    background-color:#004F76;
    width: 100%;
    .logo {
      width:30% ;
      float: left;
      line-height: 64px;
     justify-content:start;
     .logotext{
         color: white;
         display: inline; 
         margin-left: 5px;
         font-weight: 5px;
     }
   }
   
    .Menu{
      background-color: #004F76;
      color: white;
      width: 70%;
       display: flex;
       flex-direction: row;
       justify-content: center;
       line-height: 60px;
      border-bottom:none;
        
    .space{
      width: 30%;
    }
    .register{
      padding: 2px 9px;
      border: 1px solid white;
      border-radius: 15px ;
    }
   
      
    }



    
 }
    .ant-menu-horizontal > 
    .ant-menu-item:hover,.ant-menu-horizontal >
    .ant-menu-submenu:hover, .ant-menu-horizontal > 
    .ant-menu-item-active, .ant-menu-horizontal >
      .ant-menu-submenu-active, .ant-menu-horizontal > 
      .ant-menu-item-open, .ant-menu-horizontal >
      .ant-menu-submenu-open, .ant-menu-horizontal > 
      .ant-menu-item-selected, .ant-menu-horizontal >
        .ant-menu-submenu-selected {
          color: white;
          border-bottom: 5px solid white;

    }

    .footer{
      background-color: 	#005075;
      width:100%;
      // position:absolute;
      bottom:0;
      font-size: 1.1em;
      ul{
        list-style: none;
        text-align: start;
        .menu-title{
          font-size: 1.5em;
          color: white;

        }
        li{
          color: rgb(179, 177, 175);
        }
      }
      p{
        color: white;
        text-align: center;
        font-size:12px ;
        
      }
      .down{
        margin-top: 10px;
        font-size: 15px;
      
      }
      .copy{
        font-size:0.7em;
        bottom: 0;
        padding-top:40px ;
      }

    }
}