.inspire{
    width: 100%;
    padding: 7%;
    background-color: white;
    .first-section{
        text-align: center;
        
        h1
        {
            color:rgb(13, 102, 146);
            text-align: center;
            font: bolder;
            font-size: 3em;
        }
        p{
            font-size: 1.2em;
            text-align: center;
            
            

        }
    }
    .second-section{
        h1{
            color:rgb(13, 102, 146);
            text-align: center;
            font: bolder;
            font-size: 3em;
        }
        p{
            font-size: 1.2em;
            text-align: center;
             color:rgb(13, 102, 146);
            
            
        }
       
    }
}