.innovation {
  width: 100%;
  background-image: url("../../assets/img_background.png");
  opacity: 0.9;
  background-size: cover;
  background-position: center;
  // background-color: rgba(0, 0, 0, 0.548);

  .textcontainer {
    width: 50%;
    text-align: left;
    padding: 10px;

    .title {
      color: white;
      font-size: 3em;
    }
    .text {
      color: white;
      font-size: 1.5em;
      width: 80%;
    }
  }
  .button {
    float: left;
    margin-top: 25px;
    margin-left: 13%;
    padding: 0px 40px;
  }
}
