body {
  margin: 0;
  padding: 0;
  height:100%;
  font-family:'SF pro' ;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
@font-face {
  font-family: 'SF Pro';
  src: url('./fonts/SF-UI-Display-Regular.otf') ;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}
